// Theme coloring

$theme-colors: (
    "header": #6a5496,
    "primary": #275889,
    "danger": #82431a
);

// Layout styling
div#app-header {
    background: #6a5496;
    height: 100px;
    font-size: 3em;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    border-bottom: 1px solid black;
    margin-bottom: 25px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);

    #title {
        text-align: left;
        padding-left: 1em;
    }
}

h2 {
    color: #6a5496;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.region-title {
    font-weight: 600;
}

.map-button {
    margin: 1px;
}

.base-section {
    margin-bottom: 5em;
}

.loot-lineitem {
    margin-top: 5px;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';